.circle {
      height: 50px;
      width: 50px;
      border-radius: 50px;
      border: 2px black solid;
        }
#red {
        background: red;
        }

#yellow {
        background: yellow;
        }

#black {
        background: black;
        }

#green {
        background: green;
        }

#grey1, #grey2, #grey3 {
       background: grey;
       }

#grey1:hover {
              background: red;
              } 

#grey2:hover {
              background: yellow;
              }

#grey3:hover {
              background: green;
              } 